*{
	margin: 0;
	padding: 0;
}

#container2{
	height: 50px;
	width: 830px;
	border: 1px solid black;
	margin: 20px auto;
	background-color: #ccc;
}

#move-div{
	height: 30px;
	width: 30px;
	background-color: red;
	margin-top: 10px;
}

.center{
	text-align: center;
}

#slider-ipt{
	cursor: pointer;
}

